<h2>#TeamRoss <%= image_tag '1upshroom.png' %>  x <%= Tweet.all.count %></h2>


<ul class="twitter-feed">
  <% @tweets.each do |tweet| %>
    <li class="tweet">
      @TeamRossK: <b><%= tweet.text %></b>
    </li>
  <% end %>
</ul>

